.container {
    width: 80%;
    margin: 0 auto;
    padding: 2rem 0;
}

.profileBlock {
    display: flex;
    align-items: center;
    border: 1px solid #ddd;
    padding: 20px;
    border-radius: 5px;
    margin-bottom: 2rem;
}

.profileImage {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin-right: 20px;
}

.profileDetails h2 {
    margin-bottom: 1rem;
}

.newsBlock {
    border: 1px solid #ddd;
    padding: 20px;
    border-radius: 5px;
    display: flex;
    flex-wrap: wrap;
    
}

.card {
    border: 1px solid #ddd;
    margin: 10px 0;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    width: 30%;
    margin-right: 20px;
}

.cardImgTop {
    width: 100%;
    height: 200px;
    object-fit: cover;
}

.cardBody {
    padding: 10px;
}

.cardTitle {
    font-size: 20px;
    margin-bottom: 10px;
}

.cardText {
    font-size: 16px;
}


.pagination {
    display: flex;
    justify-content: center;
    margin-top: 2rem;
    list-style-type: none;
    padding: 0;
}

.page-item {
    margin: 0 0.5rem;
}

.page-link {
    padding: 0.5rem 1rem;
    background-color: #f5f5f5;
    border: 1px solid #ddd;
    text-decoration: none;
    color: #333;
    border-radius: 0.25rem;
    transition: background-color 0.2s;
}

.page-link:hover {
    background-color: #eee;
}

.page-link.active {
    background-color: #007bff;
    color: white;
    border-color: #007bff;
}
