.backgroundImage {
  background-image: url('../../../components/images/background.jpg');
  background-size: cover;
  background-attachment: fixed;
  background-position: center; /* Centraliza a imagem no fundo */
  background-repeat: no-repeat; /* Impede a repetição da imagem */
  margin: 0;
   padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
  position: fixed;
   top: 0; 
  left: 0;  
  z-index: -1; 
}



@media (min-width: 1016px) {
    .responsive {
      width: 1200px;
    }
  }