.backgroundImage{
    background-image: url('../../../components/images/background.jpg');
    background-size: cover;
    background-attachment: fixed;
    margin: 0;
    display: flex;
    width: 100vw;
    height: 100vh;
    position: fixed;
};

